body {
	background-color: #123444;
margin: 0;


}

h1{

font-family: Verdana;
font-weight: lighter;
font-size: 30;
font-style: oblique;
font-variant: small-caps;
color: white;




}

a{

color: white;

text-decoration:none;

}